<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" thread-count="2" parallel="methods">
  <test name="selenium">
    <classes>
      <class name="com.xy.day1.TestDay1">
      </class>
    </classes>
  </test> <!-- selenium -->
</suite> <!-- Default Suite -->
